Домашнее задание

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

###### Задание 1 Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [92]:
import pandas as pd

In [93]:
rating_list = [i.strip().split('::') for i in open ('ratings.dat', 'r').readlines()]
df = pd.DataFrame(rating_list, columns = ['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype = int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
UserID       1000209 non-null object
MovieID      1000209 non-null object
Rating       1000209 non-null object
Timestamp    1000209 non-null object
dtypes: object(4)
memory usage: 30.5+ MB

In [96]:
filter_df = df[(df['Rating']== '5')]

In [95]:
filter_df. head(3)

  UserID MovieID Rating  Timestamp
0      1    1193      5  978300760
4      1    2355      5  978824291
6      1    1287      5  978302039

In [28]:
filter_df.groupby(['MovieID']).count().sort_values(by='Rating', ascending=False).head(1)

         UserID  Rating  Timestamp
MovieID
2858       1963    1963       1963

###### Задание 2 По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [36]:
data = pd.read_csv('power.csv')

In [37]:
fc = data[(data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')]
fy = fc[(fc['year'] >= 2005) & (fc['year'] < 2010) | (fc['category']== 4) | (fc['category']== 12 )| (fc['category']== 21)]
final_filter = fy[(fy['quantity']> 0)]

In [39]:
sum = final_filter['quantity'].sum()
print('Cуммарное потребление стран Прибалтики: {}'.format(sum))

Cуммарное потребление стран Прибалтики: 24115524.914701812

###### Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes https://www.finanz.ru/valyuty/v-realnom-vremeni

In [81]:
page_url = 'http://www.cbr.ru/key-indicators/'

In [99]:
df = pd.read_html(page_url, encoding='utf-8')
df[4]

                                                   0         1
0                                          млрд руб.       NaN
1  Структурный дефицит/профицит ликвидности банко...  -1 234,0
2  Сведения об остатках средств на корреспондентс...       NaN
3            по Российской Федерации  на  08.05.2020   2 551,7
4             по Московскому региону  на  08.05.2020   2 364,2
5  Объем предоставленных внутридневных кредитов  ...      4054
6     Депозиты банков в Банке России  на  08.05.2020      7556
7                    ОБР в обращении  на  08.05.2020   1 520,8
8  Сальдо операций Банка России по предоставлению...      1415